<!-- LoadingTable -->
<div class="container" *ngIf="LoadingTable">
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of FalsosPost">
                <td>
                    <div class="LoadingTable" [ngStyle]="{'width.%': item.width}"></div>
                </td>
            </tr>
        </tbody>    
    </table>
</div>

<!-- Table -->
<div class="container" *ngIf="!LoadingTable">
    <table class="table table-striped table-sm">   
        <tbody class="tabla">
            <tr *ngFor="let Posts of LosPosts" routerLink="{{Posts.id}}/comments">
                <td>
                    {{ Posts.title }}
                </td>
            </tr> 
        </tbody>  
    </table>       
</div>

<router-outlet></router-outlet>
